<div id="app">
    <el-container>
        <el-header class="header">
            <i class="el-icon-s-operation switch-menu-button" @click="switchMenu"></i>
            <span>衛保組 租借系統</span>
            <el-button v-if="isLogin" type="primary" @click="logout()">{{user !== null ? user.username : ''}} 登出</el-button>
            <el-button v-else type="danger" @click="dialogFormVisible = true">登入</el-button>
            <!-- <el-button v-else type="primary" @click="login()">登入</el-button> -->
        </el-header>
        <el-container class="content">
            <el-aside class="aside">
                <el-menu default-active="1-4-1" class="el-menu-vertical-demo" :collapse="isCollapse">
                    <router-link :to="{name: 'Home'}">
                        <!-- <router-link to="/"> -->
                        <el-menu-item index="1">
                            <i class="el-icon-document"></i>
                            <span slot="title">登記借用</span>
                        </el-menu-item>
                    </router-link>
                    <router-link :to="{name: 'Equipment'}">
                        <!-- <router-link to="/equipment/list"> -->
                        <el-menu-item index="2">
                            <i class="el-icon-setting"></i>
                            <span slot="title">管理器材</span>
                        </el-menu-item>
                    </router-link>
                </el-menu>
            </el-aside>
            <el-main class="main">
                <router-view></router-view>
            </el-main>
        </el-container>
    </el-container>
    <el-dialog title="使用者登入" :visible.sync="dialogFormVisible">
        <el-form :model="form">
            <el-form-item  >
                <el-input v-model="form.username" autocomplete="off" prefix-icon="el-icon-user"></el-input>
            </el-form-item>
            <el-form-item  >
                <el-input v-model="form.password" autocomplete="off" show-password prefix-icon="el-icon-lock"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取消</el-button>
            <el-button type="primary" @click="login()">登入</el-button>
        </div>
    </el-dialog>
</div>
