<div>
    <el-row type='flex' justify="center" align="middle">
        <el-col :span="12">
            <!-- <el-col :xs="12" :sm="{span:8,offset:2}" :md="{span:8,offset:2}" :lg="3" :xl="1"> -->
            <h1 style="text-align: center; font-size: 2rem;">中正大學衛生保健組借用登記</h1>
        </el-col>
    </el-row>
    <el-row style="margin-top: 20px;" type='flex' justify="center">
        <el-col :span="12">
            <div style="text-align:left;">
                <h2 style="font-size: 1.6rem; margin-bottom: 12px;">借用對象：</h2>
                <div style="">限本校教職員工生</div>
            </div>
            <div style="margin-top: 16px; text-align:left;">
                <h2 style="font-size: 1.6rem; margin:12px 0; ">借用器材及期限：</h2>
                <el-table :data="tableData" border style="margin-top: 16px; width: 1200px;" :header-cell-style="()=>'background-color:#f2f2f2;color:#000000'">
                    <el-table-column prop="name" label="名稱" width="180">
                    </el-table-column>
                    <el-table-column prop="card" label="證件" width="180">
                    </el-table-column>
                    <el-table-column prop="duration" label="借用期限" width="100" >
                        <template slot-scope="scope">
                            <p>{{scope.row.duration}} 天</p>
                        </template>
                    </el-table-column>
                    <el-table-column prop="comment" label="器材或財產編號／備註">
                        <template slot-scope="scope">
                            <p v-html='scope.row.comment'></p>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </el-col>
    </el-row>
</div>

